<!DOCTYPE html>
<html>
<head>
  <title>Alan's RPS Homepage</title>
</head>
<body>

<h1>Welcome to the Rock, Paper, Scissors Homepage.</h1>

<p>1.This paragraph, and paragraph 2 are written in the home.erb file.  Paragraphs 3, 4 and 5 were written in the layout.erb file.</p>
<p>2.The content of the layout.erb file must therefore be present in all the other linked pages?</p>

</body>
</html>